<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="song.downloader.music.tube">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="maxSdkVersion" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    
<!--    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />-->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:name="song.downloader.music.tube.MusicApp"
        android:allowBackup="true"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="song.downloader.music.tube.ui.AlSplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="song.downloader.music.tube.ui.DailyPickGenreListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name="song.downloader.music.tube.ui.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />


        <activity
            android:name="song.downloader.music.tube.ui.AlGenresActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <service
            android:name="song.downloader.music.tube.player.PlaybackService"
            android:exported="true">
            <intent-filter>
                <action android:name="song.downloader.music.tube.ACTION.PLAY_TOGGLE" />
                <action android:name="song.downloader.music.tube.ACTION.PLAY_NEXT" />
                <action android:name="song.downloader.music.tube.ACTION.PLAY_LAST" />
                <action android:name="song.downloader.music.tube.ACTION.STOP_SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name="song.downloader.music.tube.arate.ARatingActivity"
            android:theme="@style/DialogStyle" />
        <activity
            android:name="song.downloader.music.tube.recommend.RecommendDialogActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/recom_dialog" />
        <activity
            android:name="song.downloader.music.tube.ui.SearchActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name="song.downloader.music.tube.firebase.InstallReferrer"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <provider
            android:name="song.downloader.music.tube.bean.ZAppFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


    </application>

</manifest>
